{% extends 'layouts/page.njk' %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from 'govuk/components/input/macro.njk' import govukInput %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: 'Form to save the Contact information'
  }) }}

  {% call appPageBody() %}

  {{error}}
  <form method='post' action='{{postHandler}}'>
    {{ govukInput(fields.firstName) }}
    {{ govukInput(fields.lastName) }}
    {{ govukInput(fields.email) }}
    {{ govukInput(fields.phone) }}

    <div class='govuk-button-group'>
      {{ govukButton({
        text: 'Save and continue',
        name: 'action',
        value: 'sac'
      }) }}

      {{ govukButton({
        text: 'Save as draft',
        name: 'action',
        value: 'sad',
        classes: 'govuk-button--secondary'
      }) }}
    </div>
  </form>
  {% endcall %}

{% endblock %}